<div class="container mt-4">
    <h2 class="text-center">Cálculo de Anualidad</h2>
    <form>
      <div class="mb-3">
        <label for="valorFuturo" class="form-label">Valor Futuro (S)</label>
        <input type="number" class="form-control" id="valorFuturo" placeholder="Ingrese el valor futuro" [(ngModel)]="S" name="valorFuturo">
      </div>
      <div class="mb-3">
        <label for="anualidad" class="form-label">Anualidad (A)</label>
        <input type="number" class="form-control" id="anualidad" placeholder="Ingrese la anualidad" [(ngModel)]="A" name="anualidad">
      </div>
      <div class="mb-3">
        <label class="form-label">Tasa de Interés</label>
        <div class="d-flex">
            <input type="number" step="any" class="form-control me-2" id="tasaInteres" 
            placeholder="Ingrese i" [(ngModel)]="i" name="tasaInteres" [disabled]="deshabilitarI">
          
          <input type="number" step="any" class="form-control" id="tasaNominal" 
            placeholder="Ingrese j" [(ngModel)]="j" name="tasaNominal" [disabled]="deshabilitarJ">
        </div>
      </div>
      <div class="mb-3">
        <label for="periodo" class="form-label">Periodo</label>
        <select class="form-select" id="periodo" [(ngModel)]="n" name="periodo">
          <option value="mensual">Mensual</option>
          <option value="bimestral">Bimestral</option>
          <option value="trimestral">Trimestral</option>
          <option value="cuatrimestral">Cuatrimestral</option>
          <option value="semestral">Semestral</option>
          <option value="anual">Anual</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary" (click)="calcularAnualidad()">Calcular</button>
    </form>
  </div>
  
