<div class="row bg-dark text-white">
  <div class="col-12" align="center">
    <h1>INTERÉS COMPUESTO</h1>
  </div>
</div>

 <!--Fila de seleccion de operacion-->
 <div class="container_head">

  <div class="row">
    <p><b>Operación a Realizar</b></p>
    <div class="col-3">
      <input type="radio" id="valorFuturo" name="operacionSeleccionada" value="s" [(ngModel)]="operacionSeleccionada" required title="Valor Futuro" (change)="limpiarCampos()"/>
      <label for="tasaEfectiva"> Valor Futuro (S)</label>
    </div>
    <div class="col-3">
      <input type="radio" id="valorPresente" name="operacionSeleccionada" value="p" [(ngModel)]="operacionSeleccionada" required title="Valor Futuro" (change)="limpiarCampos()" />
      <label for="tasaEfectiva"> Valor Presente (P)</label>
    </div>
    <div class="col-3">
      <input type="radio" id="tasa_de_interes" name="operacionSeleccionada" value="i_s" [(ngModel)]="operacionSeleccionada" required title="Valor Futuro" (change)="limpiarCampos()" />
      <label for="tasaEfectiva"> Tasa de Interes (i)</label>
    </div>
    <div class="col-3">
      <input type="radio" id="numero_de_periodos" name="operacionSeleccionada" value="n" [(ngModel)]="operacionSeleccionada" required title="Valor Futuro" (change)="limpiarCampos()"/>
      <label for="tasaEfectiva"> Número de periodos (n)</label>
    </div>
  </div>
</div>
<div class="container" >

  <!--Ingresar Valores-->
  <div class="row" >
    <div class="col-6">
      <form class="form-group" #form_valor_presente="ngForm">
        <label for="capital"><b>Valor Futuro (S)</b></label
          >
          <input
            type="number"
            class="form-control"
            id="capitalFuturo"
            name="capitalFuturo"
            [(ngModel)]="capitalFuturo"
            placeholder="Ingresar Valor Futuro $ 50000"
            [disabled]="operacionSeleccionada === 's'"
            required
          />

        <label for="capital"><b>Valor Presente (P)</b></label
        >
        <input
          type="number"
          class="form-control"
          id="capital"
          name="capital"
          [(ngModel)]="capital"
          placeholder="Ingresar Capital a Invertir $ mayor a 50000"
          [disabled]="operacionSeleccionada === 'p'"
          required
        />

        <label for="tipoTasa"><b>Seleccione el tipo de Tasa</b></label
        >

          <div class="row">
            <div class="col">
              <input type="radio" id="tasaEfectiva" name="tipoTasa" value="i" [(ngModel)]="tipoTasa" required  [disabled]="operacionSeleccionada === 'i_s'"/>
              <label for="tasaEfectiva"> 1. Tasa Efectiva (i)</label><br />
            </div>
            <div class="col">
              <input type="radio" id="tasaNominal" name="tipoTasa" value="j"[(ngModel)]="tipoTasa"  />
              <label for="tasaNominal"> 2. Tasa Nominal (j)</label><br />
            </div>
          </div>
        <label for="periodo"><b>Seleccione Periodo</b></label
        >
        <select
          class="form-select"
          id="periodo"
          name="periodo"
          [(ngModel)]="periodo"
          title="Seleccione Periodo"
          [disabled]="operacionSeleccionada === 'n'"
          required
        >
          <option value="MENSUAL">Mensual</option>
          <option value="BIMESTRE">Bimestral</option>
          <option value="TRIMESTRE">Trimestral</option>
          <option value="CUATRIMESTRE">Cuatrimestral</option>
          <option value="SEMESTRE">Semestral</option>
          <option value="ANIO">Anual</option>
        </select>
        <label for="numeroDePeriodos"><b>Número de Periodos (n)</b></label>
        <input
          type="number"
          id="numeroDePeriodos"
          name="numeroDePeriodos"
          placeholder="Numero de Periodos"
          [(ngModel)]="numeroDePeriodos"
          required
          class="form-control"
          [disabled]="operacionSeleccionada === 'n'"
        />
        <label for="tasa"><b>Ingrese Tasa de Interes(i)</b></label
        >
        <input
          type="number"
          class="form-control"
          id="tasaInteres"
          [(ngModel)]="tasaInteres"
          name="tasaInteres"
          placeholder="Tasa de Interes (1% - 100%)"
          [disabled]="operacionSeleccionada === 'i_s'"
        />
      </form>

      <div class="chute container__botones">
        <button [disabled]="habilitarCalcular" (click)="calcularInteres()" class="container__boton">
          Calcular Interes (S)
        </button>
        <button
        (click)="limpiarCampos()"
          class="container__boton"
          id="nuevoCalculo"
        >
          Nuevo Calculo
        </button>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5">
      <div class="row"><h3>Formula</h3></div>
      <div class="row bg-light">
        <div class="container__formula" style="margin-top: 10px;">
          <p>
            S = P(1 + i)^n
          </p>
          <p>
            <b>Donde:</b>
          </p>
          <p>
            S = Valor Futuro
          </p>
          <p>
            P = Valor Presente
          </p>
          <p>
            i = Tasa de Interes
          </p>
          <p>
            n = Numero de Periodos
          </p>
        </div>
      <div class="row" style="margin-top: 15px;"><h3>Resultado</h3></div>
      <div class="row bg-light">
        <div class="container__resultado">
          <form class="form-group" id="form-resultado">
            <div id="caja-resultados" style="margin-top: 5px;">
              Resultado: {{ resultado }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
