<div class="col-4">
    <app-menu (opc)="recibirOpcion($event)"></app-menu>
</div>
<div class="d-flex full-height-container" id="tablero">

  <!-- Mostrar el bloque solo si la opción seleccionada es 0 -->
  <div *ngIf="opcionSeleccionada === '0'" >
    <img  class="img-fluid arrow" src="flecha-correcta.png" width="8%" height="10%" alt="Flecha" style="transform: rotate(180deg);">
    <div class="card card-container align-items-center mt-5">
        <img src="gatito.png" alt="Robot Saludando" class="img-fluid rounded mt-5" width="27%" height="27%">
        <h1 style="color: #6008e2" class="encabezado">Selecciona una opción!</h1>
    </div>
    
  </div>

  <!-- Mostrar el componente según la opción seleccionada -->
  <app-interes-compuesto *ngIf="opcionSeleccionada === '1'"></app-interes-compuesto>
  <!-- <app-conversion-tasas *ngIf="opcionSeleccionada === '2'"></app-conversion-tasas> -->
  <app-anualidades *ngIf="opcionSeleccionada === '2'"></app-anualidades>
  <app-amortizacion *ngIf="opcionSeleccionada === '3'"></app-amortizacion>
  <app-capitalizacion *ngIf="opcionSeleccionada === '4'"></app-capitalizacion>

</div>

