<!-- Botón del menú hamburguesa -->
<button 
  class="btn" [class.button-normal]="!menuVisible" [class.button-dark]="menuVisible" (click)="mostrarMenu()"
  aria-expanded="false"
  aria-controls="menu-container"
>
  <div class="button-content">
    <i class="fas fa-bars"></i> <!-- Icono de hamburguesa -->
  </div>
</button>

<!-- Fondo oscuro (overlay) que cubre la pantalla -->
<div *ngIf="menuVisible" class="overlay" (click)="mostrarMenu()"></div>

<!-- Contenedor del menú (solo se muestra si menuVisible es true) -->
<div *ngIf="menuVisible" class="menu-container">
  <div class="row mt-1 mb-2"><button class="btn" (click)="setOpcion('1')">1. Razones y Proporciones</button></div>
  <div class="row mb-2"><button class="btn" (click)="setOpcion('2')">2. Interés simple</button></div>
  <div class="row mb-2"><button class="btn" (click)="setOpcion('3')">3. Descuento Bancario</button></div>
  <div class="row mb-2"><button class="btn" (click)="setOpcion('4')">4. Interés compuesto</button></div>
  <div class="row mb-2"><button class="btn" (click)="setOpcion('0')">Limpiar tablero</button></div>
</div>


  
  
  
  
  
  
